<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JsonWebService.Properties.Settings.ProductsConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Products.mdf;Initial Catalog=Products;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>